@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calculadora{
    width: 400px;
    height: 600px;
    background-color: #262b4a;
    padding: 5px;
}

.calculadora .resultado{
    display: flex;
    align-items: end;
    justify-content: right;
    width: 100%;
    height: 20%;
    background-color: #343957;
}

.calculadora .resultado p{
    color: rgb(255, 255, 255);
    font-size: 3.5em;
    font-weight: 500;
    padding: 5px;
}

.calculadora .buttons{
    height: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 3px;
}

.calculadora .buttons button{
    height: 90px;
    cursor: pointer;
    font-size: 1.8em;
    font-weight: 500;
    background-color: #3a3f5d;
    color: white;
    cursor: pointer;
    transition: box-shadow 0.3s ease;
}

.calculadora .buttons button:hover{
    background-color: #33374f;
    box-shadow: 0 0 8px 2px rgba(161, 161, 161, 0.168);
}

.calculadora .buttons .red{
    color: red;
    background-color: #50526e;
    cursor: pointer;
    transition: box-shadow 0.3s ease;
}

.calculadora .buttons .red:hover{
    background-color: #44465e;
    box-shadow: 0 0 8px 2px rgba(161, 161, 161, 0.168);
}

.calculadora .buttons .zero{
    grid-column: span 2;
}

.calculadora .buttons .igual{
    background-color: #fc3764;
    cursor: pointer;
    transition: box-shadow 0.3s ease;
}

.calculadora .buttons .igual:hover{
    background-color: #e2335c;
    box-shadow: 0 0 8px 2px rgba(161, 161, 161, 0.168);
}

.calculadora .buttons button img{
    width: 50%;
    height: 50%;
}